*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Outfit', sans-serif;
    display: flex;
    min-height: 100vh;
    background-color: hsl(212, 45%, 89%);
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card{
    background: white;
    width: 320px;
    padding: 18px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 20px 30px rgb(0,0,0,0.1);
}

.card img{
    width: 100%;
    border-radius: 12px;
    margin-bottom: 12px;
}

.card h1{
    font-size: 1.35rem;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    margin-bottom: 15px;
    line-height: 1.3;
}

.card p{
    font-size: 15px;
    color: hsl(216, 15%, 48%);
    line-height: 1.4;
    padding: 0 10px;
}